{% extends "blog/base.html" %}

{% block content %}
    <h1>About Page!</h1>
    <div class="jumbotron">
        <h1 class="display-3">Feature title</h1>
        <p class="lead">This is a basic jumbrotron call to action</p>
        <hr class="m-y-2">
        <p>This is some further description text for your main feature</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>

    <div class="card card-danger">
        <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some basic description text for your card should
       appear in this section.</p>
        </div>
       </div>
       
{% endblock content %}