{% load static %}
<!DOCTYPE html>
<head>
    <!-- reqired meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap css  -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'blog-home' %}">Blog Post</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-home' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post-create' %}">Add New Post</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item mr-1">
                            <a class="btn btn-info my-sm-0" href="{% url 'profile' %}">{{ user.username }}</a>
                            <a class="btn btn-danger my-sm-0" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item mr-1">
                            <a class="btn btn-success my-2 my-sm-0" href="{% url 'login' %}">Sign In</a>
                        </li>
                        <li class="nav-item mr-1">
                            <a class="btn btn-primary my-2 my-sm-0" href="{% url 'register' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <main role="main" class="container mt-3 pb-3">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="container card card-block ">
                    <h3>Our Sidebar</h3>
                    <p class="text-muted">You can put any information here you'd like
                        <ul class="list-group">
                            <li class="list-group-item list-group-light">Lasted Post</li>
                            <li class="list-group-item list-group-light">Announcement</li>
                            <li class="list-group-item list-group-light">Calendars</li>
                            <li class="list-group-item list-group-light">etc</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <div class="container">
 
    </div>

<!-- Optinal JavaScript -->
<!-- JQuery first then Pooper.js then Bootsrtap JS -->
<script src="{% static 'blog/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
</body>
</html>


<!-- bootstrap goshmaly -->